* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/background.jpg");
  font-family: 'Roboto', sans-serif;
}

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.payment-form {
  width: 500px;
  background-color: #fff;
  border-radius: 7px;
}

.payment-form h2 {
  color: #333;
  text-align: center;
  padding: 30px 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.payment-form form {
  overflow: hidden;
}

.payment-form form .form-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  letter-spacing: 1px;
  border-top: 1px solid #eaeaea;
  padding: 10px 40px;
  cursor: pointer;
  -webkit-transition: background 0.13s ease-in-out;
  -o-transition: background 0.13s ease-in-out;
  transition: background 0.13s ease-in-out;
}

.payment-form form .form-group:hover {
  background-color: #eaeaea;
}

.payment-form form .form-group::before {
  content: '';
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.payment-form form .form-group.visa::before {
  background-image: url("../img/visa.svg");
}

.payment-form form .form-group.mastercard::before {
  background-image: url("../img/mastercard.svg");
}

.payment-form form .form-group.maestro::before {
  background-image: url("../img/maestro.svg");
}

.payment-form form .form-group input {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  right: 40px;
  visibility: hidden;
}

.payment-form form .form-group input:checked::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../img/check.svg");
  background-size: contain;
  visibility: visible;
}

.payment-form button {
  position: relative;
  width: 100%;
  padding: 23px 0;
  border: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #598bdd;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.payment-form button:active {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}

.payment-form button::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  margin-left: 7px;
  background-image: url("../img/arrow.svg");
  background-size: cover;
}

input:checked + span {
  color: #333;
}
